.edit-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -25px;
}

.save-button {
  padding: 5px;
  font-size: 1em;
  background-color: #cce2cb;
  border-radius: 5px;
}

.edit-button,
.delete-button {
  background-color: #cce2cb;
  border-radius: 5px;
}

.delete-button {
  margin-left: 5px;
}
