.card {
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #d4f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card p {
    margin: 0;
    margin-bottom: 5px;
}

.card label {
    margin-right: 10px;
    white-space: nowrap;
}

